<header>
    <div class="navbar navbar-fixed-top" role="navigation" ng-controller="nav" ng-init="init()">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="../index.html">Getd management</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="../register.html">Register</a></li>
                    <li class="active"><a href="../tasks.html">Tasks</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-hide="loginUser">
                    <li><a href="../login.html">Login</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="loginUser">
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user}}</a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>